@inherits LayoutComponentBase

<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png" alt="Logo" />
                </a>
                
            </div>
            <nav class="nav-menu">
                <ul>
                    <li>
                        <a href="/Prenajimatel">
                            
                            <img src="/img/Real Estate Website.png" alt="Prenajímateľ" class="nav-icon" />
                            Prenajímateľ
                        </a>
                    </li>
                    <li>
                        <a href="/najomca">
                            <!-- Odkaz na stránku Nájomcu -->
                            <img src="img/Group 8.png" alt="Nájomca" class="nav-icon" />
                            Nájomca
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="login">
                <a href="/login" class="login-btn">
                    Prihlásiť sa
                </a>
            </div>
        </div>
    </div>
</header>

@Body
