@inherits LayoutComponentBase

<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <img src="/images/logo.png" alt="Logo" />
            </div>
            <nav class="nav-menu">
                <ul>
                    <li>
                        <a href="/Prenajimatel">
                            <!-- Odkaz na stránku Prenajímateľa -->
                            <img src="/img/Real Estate Website.png" alt="Prenajímateľ" class="nav-icon" />
                            Prenajímateľ
                        </a>
                    </li>
                    <li>
                        <a href="/najomca">
                            <!-- Odkaz na stránku Nájomcu -->
                            <img src="img/Group 8.png" alt="Nájomca" class="nav-icon" />
                            Nájomca
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="login">
                <a href="#" class="login-btn">
                    Prihlásiť sa
                </a>
            </div>
        </div>
    </div>
</header>

@Body

<!-- Pridaj tu obsah stránky, kde sa zobrazí konkrétny obsah každej stránky -->
