@inherits LayoutComponentBase
@layout Layout.HomeLayout

<div class="layout-container">
    <div class="side-panel">

        <nav class="menu">
            <ul>
                <li class="menu-item active">

                    <span>Dashboard</span>
                </li>
                <li class="menu-item">

                    <span>Poruchy</span>
                </li>
                <li class="menu-item">

                    <span>Nastavenia</span>
                </li>
                <!-- TODO pridat ikonky a dalsie karty -->
            </ul>
        </nav>
    </div>

    <div class="content-container">
        @Body
    </div>
</div>