@inherits LayoutComponentBase
@layout Layout.HomeLayout

<body class="dashboard-body">


<div class="layout-container">
    <div class="side-panel">
        <nav class="menu">
            <ul>
                <li class="menu-item">
                    <NavLink href="/Dashboard" class="nav-link" active-class="active">
                        <span>Dashboard</span>
                    </NavLink>
                </li>
                <li class="menu-item">
                    <NavLink href="/propertyScreen" class="nav-link" active-class="active">
                        <span>Poruchy</span>
                    </NavLink>
                </li>
                <li class="menu-item">
                    <NavLink href="/settingsScreen" class="nav-link" active-class="active">
                        <span>Nastavenia</span>
                    </NavLink>
                </li>
                    <li class="menu-item">
                        <NavLink href="/properties" class="nav-link" active-class="active">
                            <span>Nehnuteľnosti</span>
                        </NavLink>
                    </li>
            </ul>
        </nav>
    </div>

    <div class="content-container">
        @Body
    </div>
</div>
</body>
