@inherits LayoutComponentBase
@layout Layout.HomeLayout

<body class="dashboard-body">


<div class="layout-container">
    <div class="side-panel">
        <nav class="menu">
            <ul>
                <li class="menu-item">
                    <NavLink href="/tenant-dashboard" class="nav-link" active-class="active">
                        <div class="flex gap-4">
                                <img class="w-6" src="/img/icons/grid-line.png" />
                                <span>Dashboard</span>
                        </div>
                        
                    </NavLink>
                </li>
                <li class="menu-item">
                    <NavLink href="/properties" class="nav-link" active-class="active">
                         <div class="flex gap-4">
                            <img class="w-6" src="/img/icons/home-line.png" />
                            <span>Nehnuteľnosti</span>
                            </div>
                    </NavLink>
                </li>
                <li class="menu-item">
                    <NavLink href="/issues-screen" class="nav-link" active-class="active">
                         <div class="flex gap-4">
                            <img class="w-6" src="/img/icons/tool-line.png" />
                            <span>Poruchy</span>
                            </div>
                    </NavLink>
                </li>
                    <li class="menu-item">
                         
                        <NavLink href="/settingsScreen" class="nav-link" active-class="active">
                            <div class="flex gap-4">
                            <img class="w-6" src="/img/icons/settings-line.png" />
                            <span>Nastavenia</span>
                        </div>
                        </NavLink>
                    </li>
            </ul>
        </nav>
    </div>

    <div class="content-container">
        @Body
    </div>
</div>
</body>
