@page "/"
@using PropertyWebApp.Models.Services
@layout Layout.HomeLayout
@inject UserStateService userStateService
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>
<body class="home-body">
    <div>
        <AuthorizeView>
            <Authorized>
                <p> Hello authorized @userStateService.UserName</p>
            </Authorized>
            <NotAuthorized> Hello not authorized</NotAuthorized>
        </AuthorizeView>

    </div>
    <div class="home-page">
        <h1 class="hero-nadpis">
            Nájdite Svoj Domov
            Jednoducho A Rýchlo
        </h1>
        <p class="hero-podtext">Sed elit urna, imperdiet eget bibendum quis, convallis non massa.</p>

        <div class="search-bar">
            <input type="text" placeholder="Lokalita napr. Žilina">
            <select class="property-type-search">
                <option value="">Vyber typ nehnuteľnosti</option>
                <option value="byt">Byt</option>
                <option value="dom">Dom</option>
            </select>
            <input type="text" placeholder="Cena">
            <input type="submit" value="Vyhľadať">
        </div>

        <div class="popular-searches">
            <span>Obľúbené Vyhľadávania: </span>
            <a href="#">Bratislava, Byt</a>
            <a href="#">Bratislava, Dom</a>
            <a href="#">Žilina, Byt</a>
        </div>
    </div>
</body>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            userStateService.SetUserName(user.Identity.Name ?? "Unknown");
        }
    }


}
