@page "/Prenajimatel"
@layout Layout.PrenajimatelLayout
<PageTitle>Prenajimatel </PageTitle>

<div class="dashboard-container">
    <div class="search-bar">
        <input type="text" placeholder="Vyhľadaj..." />
    </div>

    <div class="dashboard-cards">
        <div class="card">
            <div class="card-title">Príjem</div>
            <div class="card-value">119,234.01</div>
            <div class="card-change">3.1% oproti minulému mesiacu</div>
            <button class="view-report">Zobraz report</button>
        </div>
        <div class="card">
            <div class="card-title">Výsledok</div>
            <div class="card-value">$524,039</div>
            <div class="card-change">11% oproti minulému mesiacu</div>
            <button class="view-report">Zobraz report</button>
        </div>
        <div class="card">
            <div class="card-title">Výdavky na energie</div>
            <div class="card-value">234,200</div>
            <div class="card-change">2.3% oproti minulému mesiacu</div>
            <button class="view-report">Zobraz report</button>
        </div>
        <div class="card">
            <div class="card-title">Všetky nehnuteľnosti</div>
            <div class="card-value">1,200</div>
            <div class="card-change">0.5% oproti minulému mesiacu</div>
            <button class="view-report">Zobraz report</button>
        </div>
    </div>

    <div class="calendar">
        <div class="calendar-header">
            <div class="calendar-title">Kalendár</div>

        </div>
        <div class="calendar-content">
            <!-- TODO implementacia kalendara -->
        </div>
    </div>

    <div class="property-list">
        <div class="property">
            <img src="img/property1.jpg" alt="Elite Heights Rezidencia">
            <div class="property-info">
                <div class="property-title">Elite Heights Rezidencia</div>
                <div class="property-location">Janka Kráľa, Námestovo</div>
                <div class="property-price">$3,700</div>
                <button class="edit-property">Uprav Nehnuteľnosť</button>
            </div>
        </div>
        <div class="property">
            <img src="img/property2.jpg" alt="Grand Oaks Villa">
            <div class="property-info">
                <div class="property-title">Grand Oaks Villa</div>
                <div class="property-location">Vysokoškolákov, Žilina</div>
                <div class="property-price">$3,700</div>
                <button class="edit-property">Uprav Nehnuteľnosť</button>
            </div>
        </div>
        <div class="property">
            <img src="img/property3.jpg" alt="Serene Crest Apartmány">
            <div class="property-info">
                <div class="property-title">Serene Crest Apartmány</div>
                <div class="property-location">Nová, Bratislava</div>
                <div class="property-price">$3,700</div>
                <button class="edit-property">Uprav Nehnuteľnosť</button>
            </div>
        </div>
    </div>

    <div class="property-channel">
        <div class="property-channel-title">Grafy nehnuteľností</div>
        <!-- TODO vymysliet grafy a dorobit -->
        <div class="property-chart">
            <div class="chart-label">Zatiaľ tu nič nie je </div>
        </div>
    </div>
</div>




