@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/test"

<h3>Authentication Test</h3>

@code {
    private string userStatus;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            userStatus = $"Prihlásený ako: {user.Identity.Name}";
        }
        else
        {
            userStatus = "Používateľ nie je prihlásený.";
        }
    }
}
